.wrapper{
    background-color: rgb(168, 206, 235);
    margin-left: 100px;
    margin-right: 20px;
   }
.container{
    background-color: rgb(158, 201, 234);
    margin-left: 100px;
    margin-right: 20px;
}