<!-- <div *ngFor="let item of [1,3,5,7,8,9]">
    <p>Number is:  {{item}}</p>
</div> -->

<!-- TRIMIT DATE DE LA COMPONENTUL PARENT (PRODUCT)
     LA COMPONENTUL COPIL (FILTER)
-->
<div>
<app-filter 
     [all]="getTotalProducts()"
     [premium]="getPremiumProducts()"
     [regular]="getRegularProducts()"></app-filter>
</div>


<div *ngFor="let p of products">
    <div class="product-container"  [ngStyle]="{backgroundColor: p.av== 'available' ? 'LightGreen':'LightRed'}">
        <div class="product-name">
            <div class="availability">
                 {{p.av}}
            </div>

            <h6> {{p.name}} {{p.price}} </h6> <br>
        </div>

        <div class="options">
              <button class="btn btn-success">Show Details </button>
              <button class="btn btn-warning" *ngIf= "p.av === 'available' "> Buy Now </button>           
        </div>
    </div>
</div>